:root {
    --color-primary-tint1: #ff0092;
    --color-accent: #3ef98a;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 2rem;
    margin-top: 4rem;
}

h1 {
    text-shadow: var(--color-primary-tint1) .034em .034em, var(--color-accent) -.034em .068em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 5rem;
}
